.stat-card{

    background:#fff;

    border-radius:18px;

    padding:22px;

    display:flex;

    align-items:center;

    gap:20px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

    transition:.3s;

    cursor:pointer;

}

.stat-card:hover{

    transform:translateY(-6px);

    box-shadow:0 15px 35px rgba(0,0,0,.12);

}

.stat-icon{

    width:70px;

    height:70px;

    border-radius:18px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:28px;

}

.stat-content h6{

    color:#6c757d;

    margin:0;

}

.stat-content h2{

    margin-top:8px;

    font-weight:700;

}